.main-wrapper {
    /* margin: 0 auto; */
    /* width: 100%; */
}

.slider { 
    margin: 0 auto;
    position: relative;
	text-align: center;
    top: 10px;
    /* width: 1024px;  */
}

.mem-slides .hidden {
    width: 25%;
	float: left;
}

.mem-slides .mem-image {
    width: 400%;
	line-height: 0;
}

.hidden {
    width: 100%;
	overflow: hidden;
}
