* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.wrapper input {    
    position: absolute;
    visibility: hidden;
}

.slider {
    margin-top: 180px;
    position: relative;
    overflow: hidden;
    max-width: 600px;
    height: 650px;
}

.mems {
    display: flex;
    width: 400%;
    height: 100%;
}

.mem-wrapper {
    width: 25%;    
}

.mem {
    max-width: 100%;
    height: auto; 
    transition: all 1s ease;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;     
    
}

.nav-wrapper p {
    justify-content: center;
    position: absolute;    
    bottom: 80px;
    left: 0;
    height: 25px;
    opacity: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    transition: all 1.5s ease;
    font-weight: 700;
    color: rgb(8, 36, 87);
}

.slider-nav {
    display: flex;    
    justify-content: center;
    position: absolute;    
    bottom: 80px;
    right: 0;
    height: 25px;    
}

.slider-nav-item {    
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 4px solid rgb(4, 79, 114);
    background-color: rgb(4, 79, 114);
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    transition: all .5s ease;
    
}

.slider-nav-item:hover {
    background-color: rgb(236, 237, 246);
}

input#dot1:checked ~ .slider .mems .mem {
    margin-left: 0;
}

input#dot2:checked ~ .slider .mems .mem {
    margin-left: -100%;
}

input#dot3:checked ~ .slider .mems .mem {
    margin-left: -200%;
}

input#dot4:checked ~ .slider .mems .mem {
    margin-left: -300%;
}

input#dot1:checked ~ .slider .slider-nav #radio1 {
    background-color: rgb(188, 177, 248);
}

input#dot2:checked ~ .slider .slider-nav #radio2 {
    background-color: rgb(188, 177, 248);
}

input#dot3:checked ~ .slider .slider-nav #radio3 {
    background-color: rgb(188, 177, 248);
}

input#dot4:checked ~ .slider .slider-nav #radio4 {
    background-color: rgb(188, 177, 248);
}

input#dot1:checked ~ .slider .nav-wrapper .mem-title #title1 {
    opacity: 1;
}

input#dot2:checked ~ .slider .nav-wrapper .mem-title #title2 {
    opacity: 1;
}

input#dot3:checked ~ .slider .nav-wrapper .mem-title #title3 {
    opacity: 1;
}

input#dot4:checked ~ .slider .nav-wrapper .mem-title #title4 {
    opacity: 1;
}
